params {
    resources {
        streamfish {
            cpus = 16
            gpus = 1
            memory = "44 GB"
        }
    }
}

process {
    errorStrategy = "ignore"

    withLabel: streamfish_sim { 
        cpus = params.resources.streamfish.cpus
        memory = params.resources.streamfish.memory
        maxForks = params.resources.streamfish.gpus  
        accelerator = 1
    }
}